*.pyc
*.swp
__pycache__/

*.log
*.log.gz

# ignore data unless added by force
data/*
dumps/*

# editor specific
.vscode

## css/js static files -- now some are being added to git
static/css/*
static/js/*
static/webfonts/*

